<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
	<label for="name">Enter name</label>
	<input type="text" th:field="*{name}" id="name"/>
	<div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book error</div>
	</br>
	<label for="author">Enter author</label>
	<input type="text" th:field="*{author}" id="author"/>
	<div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Book error</div>
	</br>
	<label for="year_of_production">Enter year_of_production</label>
	<input type="text" th:field="*{yearOfProduction}" id ="year_of_production"/>
	</br>
	
	
	<input type="submit" value="Create book"/>
</form>
</body>
</html>